@main("Twitter") {
<div ng-app="twitter" ng-controller="MainController" ng-init="refreshTimeline()"
  class="container">

  <h1>Twitter</h1>

  <form class="form-horizontal">
  <div ng-class="errors.userName ? 'form-group has-error' : 'form-group'">
    <label class="control-label" for="userName">User Name:</label>
    <input type="text" class="form-control" id="userName" ng-model="tweet.userName">
    <span ng-if="errors.userName" class="control-label">{{errors.userName}}</span>
  </div>
  <div ng-class="errors.text ? 'form-group has-error' : 'form-group'">
    <label class="control-label" for="text">Tweet Text:</label>
    <input type="text" class="form-control" id="text" ng-model="tweet.text">
    <span ng-if="errors.text" class="control-label">{{errors.text}}</span>
  </div>
  <button class="btn btn-primary" ng-click="postTweet(tweet)">Tweet</button>
</form>

<hr/>
<ol class="breadcrumb" ng-repeat="tweet in tweets">
  <li>「{{tweet.text}}」 by <a ng-click="showTweets(tweet.user)">@@{{tweet.user.name}}</a></li>
  <div class="pull-right">
    {{tweet.createdAt}}
    <span ng-click="deleteTweet(tweet)" class="glyphicon glyphicon-trash"></span>
  </div>
</ol>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">{{userInModal.name}}</h4>
      </div>
      <div class="modal-body">
        <ol class="breadcrumb" ng-repeat="tweet in userInModal.tweets">
          <li>「{{tweet.text}}」</li>
          <div class="pull-right">{{tweet.createdAt}}</div>
        </ol>
      </div>
    </div>
  </div>
</div>

</div>
}
