@main("Twitter") {
<div ng-app="twitter" ng-controller="TwitterController as tw" ng-init="tw.refreshTimeline()" class="container" ng-cloak>

<h1>Twitter</h1>
<hr/>

<form class="form-horizontal">
  <div ng-class="tw.validationErrors.userName ? 'form-group has-error' : 'form-group'">
    <label class="control-label" for="userName">User Name:</label>
    <input type="text" class="form-control" id="userName" ng-model="tw.newTweet.userName">
    <span ng-if="tw.validationErrors.userName" class="control-label">{{tw.validationErrors.userName}}</span>
  </div>
  <div ng-class="tw.validationErrors.text ? 'form-group has-error' : 'form-group'">
    <label class="control-label" for="text">Tweet Text:</label>
    <input type="text" class="form-control" id="text" ng-model="tw.newTweet.text">
    <span ng-if="tw.validationErrors.text" class="control-label">{{tw.validationErrors.text}}</span>
  </div>
  <button class="btn btn-primary" ng-click="tw.postTweet(tw.newTweet)">Tweet</button>
</form>

<hr/>
<ol class="breadcrumb" ng-repeat="tweet in tw.tweets">
  <li>「{{tweet.text}}」 by <a ng-click="tw.showTweetsForUser(tweet.user)">@@{{tweet.user.name}}</a></li>
  <div class="pull-right">
    {{tweet.createdAt | date:"yyyy/MM/dd HH:mm:ss"}}
    <span ng-click="tw.deleteTweet(tweet)" class="glyphicon glyphicon-trash"></span>
  </div>
</ol>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">{{userInModal.name}}</h4>
      </div>
      <div class="modal-body">
        <ol class="breadcrumb" ng-repeat="tweet in tw.userInModal.tweets">
          <li>「{{tweet.text}}」</li>
          <div class="pull-right">{{tweet.createdAt | date:"yyyy/MM/dd HH:mm:ss"}}</div>
        </ol>
      </div>
    </div>
  </div>
</div>

<hr/>
<p>
This is a sample application built with Play Framework and Skinny ORM.
See in detail: <a href="https://github.com/skinny-framework/skinny-orm-in-play">https://github.com/skinny-framework/skinny-orm-in-play</a>
</p>
</div>
}
